- name: Création des VMs de test avec config spécifique
  loop: "{{ vms_to_deploy }}"
  shell: |
    # 1. Initialisation
    lxc init ubuntu:22.04 {{ item.name }} --vm
    
    # 2. Taille disque
    lxc config device override {{ item.name }} root size={{ item.size }}
    
    # 3. Utilisateur et Password
    PASS_HASH=$(openssl passwd -6 "{{ item.pass }}")
    lxc config set {{ item.name }} cloud-init.user-data "#cloud-config
    users:
      - name: {{ item.user }}
        passwd: $PASS_HASH
        sudo: ALL=(ALL) NOPASSWD:ALL
        shell: /bin/bash"
    
    # 4. Ajout de n disques additionnels
    {% for i in range(item.nb_disks) %}
    lxc storage volume create remote {{ item.name }}-vol{{ i }} size=5GiB
    lxc config device add {{ item.name }} disk{{ i }} disk pool=remote source={{ item.name }}-vol{{ i }}
    {% endfor %}

    # 5. HA
    lxc config set {{ item.name }} cluster.evacuate migrate
    
    lxc start {{ item.name }}