- name: Installer LXD sur Kali
  snap:
    name: lxd
    state: present

- name: Initialiser LXD (si non fait)
  shell: lxd init --auto
  ignore_errors: yes

- name: Créer les VMs Nœuds avec IPs statiques
  loop: "{{ groups['nodes'] }}"
  shell: |
    # Création de la VM Ubuntu
    lxc launch ubuntu:22.04 {{ item }} --vm \
      -c limits.cpu=2 -c limits.memory=4GiB -c security.nesting=true
    
    # Attente du démarrage
    sleep 5
    
    # Configuration de l'IP statique (sur le bridge par défaut lxdbr0)
    lxc network attach lxdbr0 {{ item }} eth0
    lxc config device set {{ item }} eth0 ipv4.address {{ hostvars[item]['ansible_host'] }}
    
    # Ajout d'un disque brut pour Ceph
    lxc storage volume create default "ceph-{{ item }}" --type=custom size=20GiB
    lxc config device add {{ item }} ceph-disk disk pool=default source="ceph-{{ item }}"
    
    # Injection de votre clé SSH publique pour qu'Ansible puisse se connecter
    lxc file push ~/.ssh/id_rsa.pub {{ item }}/root/.ssh/authorized_keys
    
    lxc restart {{ item }}