- name: Générer le fichier preseed MicroCloud
  template:
    src: microcloud-preseed.yaml.j2
    dest: /tmp/microcloud-preseed.yaml
  when: inventory_hostname == groups['nodes'][0]

- name: Initialiser le cluster via Preseed
  shell: "cat /tmp/microcloud-preseed.yaml | microcloud init --preseed"
  when: inventory_hostname == groups['nodes'][0]
  register: init_result
  failed_when: "'Error' in init_result.stderr and 'already' not in init_result.stderr"