---
- name: Initialisation LXD, Réseau et Stockage
  shell: |
    lxd init --auto
    lxc network create microbr0 ipv4.address=10.0.10.1/24 ipv6.address=none || true
    lxc storage create disks zfs size=100GiB || true
    lxc storage set disks volume.size 10GiB
  ignore_errors: yes

- name: Creation des volumes (Block)
  shell: |
    lxc storage volume create disks local{{ item }} --type block || true
    lxc storage volume create disks remote{{ item }} --type block size=20GiB || true
  loop: "{{ range(1, 3) | list }}"

- name: Initialisation des Noeuds
  shell: |
    lxc init ubuntu:24.04 {{ item }} --vm \
      --config limits.cpu=2 --config limits.memory=2GiB \
      --config security.nesting=true \
      --config security.privileged=true \
      -d eth0,ipv4.address=10.43.160.10
  loop: "{{ groups['nodes'] }}"
  ignore_errors: yes

- name: Detection et Mapping des disques + Reseau
  shell: |
    lxc storage volume attach disks "*local{{ loop_idx + 1 }}*" {{ item }} 2>/dev/null
    lxc storage volume attach disks "*remote{{ loop_idx + 1 }}*" {{ item }} 2>/dev/null

    lxc config device add {{ item }} eth1 nic network=microbr0 name=eth1 || true
  loop: "{{ groups['nodes'] }}"
  loop_control:
    index_var: loop_idx

- name: Démarrage et Préparation Python
  shell: |
    lxc start {{ item }}
    sleep 10
    lxc exec {{ item }} -- apt update
    lxc exec {{ item }} -- apt install -y python3
  loop: "{{ groups['nodes'] }}"