---
- name: Configuration Netplan eth1 (Indispensable pour l'initialisation)
  copy:
    src: 99-microcloud.yaml
    dest: /etc/netplan/99-microcloud.yaml
    mode: '0600'
  notify: Apply Netplan

- name: Appliquer le réseau avant de continuer
  meta: flush_handlers

- name: Installation des Snaps
  shell: |
    snap install lxd --channel=5.21/stable --cohort="+"
    snap install microceph --channel=squid/stable --cohort="+"
    snap install microovn --channel=24.03/stable --cohort="+"
    snap install microcloud --channel=2/stable --cohort="+"

- name: Déposer le fichier preseed
  template:
    src: microcloud.yaml.j2
    dest: /tmp/preseed.yaml

- name: Exécuter l'initialisation MicroCloud
  shell: "cat /tmp/preseed.yaml | microcloud preseed"
  
  register: preseed_output
  failed_when: 
    - preseed_output.rc != 0 
    - "'already' not in preseed_output.stderr"